<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SysLog" value="0"/>
    <add key="Login" value="Usuário"/>
    <add key="Password" value="Senha"/>
    <add key="SRC" value="7FE978E155B5CB443459BFABA7"/>
    <add key="GCCode" value="D143ED012DA82E"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
